@import "tailwindcss";

@theme {
  --color-card: #ffffff;
  --color-card-foreground: #09090b;
  --color-muted: #f4f4f5;
  --color-muted-foreground: #71717a;
  --color-border: #e4e4e7;
  --color-input: #e4e4e7;
  --color-primary: #18181b;
  --color-primary-foreground: #fafafa;
  --color-ring: #18181b;
}
